/* .slideshow-image {
    transition: opacity 1s ease-in-out;
} */

.slideshow-image.fade {
    transition: opacity 1s ease-in-out;
}

.slideshow-image.wipe {
    /* Start the image off-screen to the right */
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-in;
}

.slideshow-image.wipe.transition-active {
    /* When the transition is active, move it into view */
    transform: translateX(0);
    opacity: 1;
}

/* Base styles for the image itself */
.slideshow-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}